@import 'core/variables';
@import 'core/reset';

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    font-size: 3rem;
    font-weight: 600;
  }
}

.form {
  margin: 3rem;
}

.containerSections {
  display: flex;
  gap: 30%;
  text-align: center;
}

.cocktails__list{
  display: flex;
  flex-direction: column;
}

.card {
  list-style: none;
  margin-bottom: 30px;
  border-radius: 10%;
  border: solid 4px;
  height:170px;
  width: 120px;

  .card__img {
    width: 100px;
    border-radius: 10%;
    border: solid;
  }
}

.li-card {
  background-color: palevioletred;
}

.li-fav {
  background-color: palevioletred;
}

.cardFav {
  background-color: palevioletred;
}