// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

// .card {
//   background-color: ;
// }
.cardFav {
  width: 100px;
  background-color: palevioletred;
}

.item__img {
  width: 100px;
}