@import 'core/variables';
@import 'core/reset';

// .card {
//   background-color: ;
// }

.form {
  margin: 3rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.list__item {
  margin-left: 1rem;
}

.cardFav {
  width: 100px;
  background-color: palevioletred;
}

.item__img {
  width: 100px;
}